
<%- include('header') -%>

    <div class="date flex justify-center items-center p-20">
        <h1 class="text-3xl font-bold px-12 py-5 bg-purple-950 text-white rounded"><%= date %></h1>
    </div>

    <div class="main flex justify-center items-center ">
        <div class="container  bg-white w-fit p-6 rounded-xl">

            <% lists.forEach(ele =>{ %>
                
                <form action="/delete" method="post">
                    <div class="list flex justify-start items-center gap-5">
                        <input type="checkbox" name="checkbox" value="<%=ele._id%>" onchange="this.form.submit()"> 
                        <p><%= ele.name %></p>
                    </div>
                    <input type="hidden" name="val" value="<%= date %>">
                </form>

            <% }) %>
    
            <form action="/" method="post" class="flex justify-center items-center gap-2">
                <input class="h-10 place-center text-center" type="text" name="list" id="l1" placeholder="New Item">
                <button type="submit" name="button" value=<%= date %> > <p class="text-3xl bg-purple-900 rounded-full px-2 text-white">+</p></button>
            </form>
        </div>
    </div>

    <%- include('footer') -%>
    
